{% extends 'base.html.twig'%}

{% block title 'Voir toutes nos offres' %}

{% block body %}
    <div class="container mt-4">
        <font face="montserrat"><h1>Voir toutes nos offres <h1><br><br></font>  
    </div>
{% endblock %}

